<section class='login-f' xmlns="http://www.w3.org/1999/html">
  <div class="head-f">
    <h1 class="company-f">ارسال پیامک</h1>
  </div>

    <form  class="form" [formGroup]="restForm">
    <input class="text"  name="message" formControlName="message"
           placeholder='متن پیام'  ><br>
    <input class="password" name="nationalCode" formControlName="nationalCode"
           placeholder='کد ملی' ><br>
    <button class='btn-login-f' (click)="onSubmit()">ارسال</button>


  </form>

  {{myhtmlValue}}

  <form [formGroup]="restForm" (ngSubmit)="upload()">
  <div class="form-group">
    <input
      formControlName="file"
      id="file"
      type="file"
      class="form-control"
      (change)="onFileChange($event)">
   </div>

<!--   <div *ngIf="f['file'].touched && f['file'].invalid" class="alert alert-danger">-->
<!--        <div *ngIf="f['file'].errors && f['file'].errors['required']">File is required.</div>-->
<!--   </div>-->


  <button class='btn-login-f' [disabled]="restForm.invalid" type="submit">ثبت</button>

  </form>
</section>
