

<html lang="en" >
<section class='login' id='login'>
  <div class='head'>
    <h1 class='company'>چاپار</h1>
  </div>



<!--  <div routerLink="form" class="form">-->
    <form class="form"  [formGroup]="form">
      <input name="userName" formControlName="userName" type="text"
             placeholder='نام کاربری' class='text' id='username' required><br>
      <input name="password" formControlName="password" type="password"
             placeholder='کلمه عبور' class='password'><br>
      <button routerLink="form" class='btn-login' (click)="login()">ورود</button>


    </form>
<!--  </div>-->
</section>

