body {
  background: #c2c3cf2e;
  font-family: Assistant, sans-serif;
  display: contents;
  padding-left: 300px;
  padding-right: 270px;
  /*min-height: 90vh;*/
}
.login {
  color: white;
  background:#136a8a;
  background:
    -webkit-linear-gradient(to right, #267871, #136a8a);
  background:
    linear-gradient(to right, #267871, #136a8a);

  box-shadow:
    0px 2px 10px rgba(0,0,0,0.2),
    0px 10px 20px rgba(0,0,0,0.3),
    0px 30px 60px 1px rgba(0,0,0,0.5);
  border-radius: 50px;
  /*padding: 130px;*/
  padding-top: 150px;
  padding-left: 100px;
  padding-bottom: 200px;
  padding-right: 100px;

}
.login .head {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -10px;
}
.login .head .company {
  padding: 30px;
  margin-top: -50px;
  font-size: 2.2em;
  color: rgba(255, 255, 255, 0.83);
}
.login .msg {
  text-align: center;
}
.login .form input[type=text].text {
  border: none;
  background: none;
  box-shadow: 0px 2px 0px 0px white;
  width: 100%;
  float: right;
  color: white;
  font-size: 1em;
  outline: none;
}
.login .form .text::placeholder {
  color: #D3D3D3;

  float: right;
  glyph-orientation-vertical: auto;
}
.login .form input[type=password].password {
  border: none;
  background: none;
  box-shadow: 0px 2px 0px 0px white;
  width: 100%;
  color: white;
  font-size: 1em;
  outline: none;
  margin-bottom: 20px;
  float: right;
  margin-top: 20px;
}
.login .form .password::placeholder {
  color: #D3D3D3;
  float: right;
}
.login .form .btn-login {
  background: #05465ed7;
  text-decoration: none;
  color: white;
  margin: 50px;
  box-shadow: 0px 0px 0px 2px white;
  border-radius: 20px;

  margin-top: 30px;
  padding: 5px 2em;
  transition: 0.5s;
  float: left;
}
.login .form .btn-login:hover {
  background: white;
  color: dimgray;
  transition: 0.5s;
}



body {
  background: #05507fdc;
  font-family: Assistant, sans-serif;
   display: contents;
  padding-right: 300px;
  padding-left: 300px;
}
.login-f {
  color: #05507fdc;
  background: #D3D3D3;
  margin: auto;
  box-shadow:
    0px 2px 10px rgba(0,0,0,0.2),
    0px 10px 20px rgba(0,0,0,0.3),
    0px 30px 60px 1px rgba(0,0,0,0.5);
  border-radius: 50px;
  padding: 150px;
  width: 800px;
}
.head-f {
  display: flex;
  align-items: center;
  justify-content: center;
}
.company-f {
  font-size: 2.2em;
}

input[type=text].text-f {
  border: none;
  background: none;
  box-shadow: 0px 2px 0px 0px #05507fdc;
  width: 100%;
  float: right;
  color: #05507fdc;
  font-size: 1em;
  outline: none;
}
.text-f::placeholder {
  color: #D3D3D3;
  float: right;
  glyph-orientation-vertical: auto;
}
.password {
  border: none;
  background: none;
  box-shadow: 0px 2px 0px 0px #05507fdc;
  width: 100%;
  color: #05507fdc;
  font-size: 1.2em;
  outline: none;
  margin-bottom: 20px;
  float: right;
  margin-top: 20px;
}
.text {
  border: none;
  background: none;
  box-shadow: 0px 2px 0px 0px #05507fdc;
  width: 100%;
  float: right;
  color: #05507fdc;
  font-size: 1.2em;
  outline: none;
}
.password-f::placeholder {
  color: transparent;
  float: right;
}
.btn-login-f {
  background: #05465ed7;
  text-decoration: none;
  color: white;
  box-shadow: 0px 0px 0px 2px white;
  border-radius: 20px;
  margin: 40px;
  margin-top: 30px;
  padding: 5px 2em;
  transition: 0.5s;
  float: left;
}
.btn-login-f:hover {
  background: white;
  color: dimgray;
  transition: 0.5s;
}

